# Force all markdown files to appear in language stats
*.md linguist-detectable=true

docs/**          linguist-documentation
README.md        linguist-documentation
LICENSE          linguist-documentation
LICENSE.md       linguist-documentation
